.product-display-area{
    width: 70%;
    /* display: flex;
    flex-direction: column; */
    margin: 0 auto;
}
.on{
    visibility: hidden 
}
.off{
 
}
.bac-cre{
    background-color: brown;
    width: 400px;
    height: 350px;
   margin: 0 auto;
   display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.creat-clo{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.cre-fro{
    width: 300px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
 background: hsla(205, 46%, 30%, 1);
 background: linear-gradient(90deg, hsla(205, 46%, 30%, 1)0%, hsla(260, 29%, 36%, 1)100%);
 }