<app-show></app-show>
  <div class="container" style="display: flex; justify-content: center;
  align-items: center; margin-top: 15vh;">
   
        <div class="col-md-6 card"style=" width: 500px; height: 400px;">
            <div class="">
                <div class="text-center">
                    <h1>Create Prodeuct</h1>
                </div>
                <form>
                    <form class="" #productsForm="ngForm" (ngSubmit)="onProductCreate(productsForm.value)">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Product Name</label>
                          <input type="text" name="pName"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"ngModel>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product Descirptio</label>
                            <input type="text"name="desc" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"ngModel>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Product Price</label>
                            <input type="text"name="price" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"ngModel>
                          </div>
                          <input  class="btn btn-primary" type="submit" value="Add product">
                          <input  class="btn btn-danger"type="submit" value="Done"routerLink="/allproducts">
                      </form>
                  
                </form>
            </div>
        </div>
    </div>
